@{
    ViewData["Title"] = "Render Word Document";
}

<h1>@ViewData["Title"]</h1>

<!-- Form dua file Docx len vao trang web và co the chinh sua cac fieldname va fieldvalue -->
<form method="post" enctype="multipart/form-data">
    <label for="uploadedFile">Choose DOCX file</label>
    <input type="file" name="uploadedFile" accept=".docx" />
    <br /><br />

    <label for="fieldName">Field Name</label>
    <input type="text" name="fieldName" placeholder="Enter field name to replace" />
    <br /><br />

    <label for="fieldValue">Field Value</label>
    <input type="text" name="fieldValue" placeholder="Enter replacement value" />
    <br /><br />

    <button type="submit">Upload</button>
</form>

@if (ViewData["WordHtml"] != null)
{
    <div>
        <!-- Hien thi len trang web tu file Docx -->
        @Html.Raw(ViewData["WordHtml"])
    </div>
}
